[Desktop Entry]
Type=Application
Name=rStartrt
Comment=A project template for creating unified local terminal utilities in Rust
Exec=rstart
Icon=rstart
Terminal=true
Categories=Utility;System;
